<div class="jumbotron text-center">
    <h1>{{headerMessage}}</h1>

    <br/><br/>
<h2>Article List</h2>

<div class="row">
  {{#each filteredList as |articles|}}
    <div class="col-md-9.offset-md-3">
      {{#article-item item=articles }}
      {{/article-item}}
    </div>
    <hr>
  {{else}}
    {{#if model.isUpdating}}
      {{spinner-cube}}
    {{else}}
      <div class="col-md-12 text-center">
        <div class="alert alert-info">
          Sorry, no result.
        </div>
      </div>
    {{/if}}
  {{/each}}
</div>

</div>